@import "../mixins";
@import "../vars";

$button-transition: 0.15s;

/**
 * Generate button sizes (padding, font)
 */
@mixin generateSizes() {
  &.is-small {
    height: calc($interactable-height * 0.8);
    padding: 4px 8px;
  }

  &,
  &.is-medium {
    height: $interactable-height;
    padding: 8px 16px;
  }

  &.is-large {
    height: calc($interactable-height * 1.25);
    padding: 16px 32px;
  }

  &.is-icon {
    height: $interactable-height;
    padding: 6px;
  }
}

/**
 * Generate button colors
 * @param {string} color - Base color
 */
@mixin generateColor($color) {
  color: white;
  background-color: $color;

  /*&.is-outlined {
    color: $color;
    border-color: $color;
  }*/

  &:focus,
  &.is-focused {
    box-shadow: 0 0 1px 2px transparentize($color, 0.5);
  }
}

// Buttons
a.button,
button.button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  border: 1px solid transparent;
  border-radius: $border-radius;
  cursor: pointer;
  text-decoration: none;
  transition: background-color $button-transition, box-shadow $button-transition,
    color $button-transition, filter $button-transition;

  // Sizes determine padding, font size, etc
  @include generateSizes();

  // Coloring styles
  &:focus,
  &.is-focused {
    box-shadow: 0 0 1px 2px transparentize($theme-primary, 0.5);
  }

  &,
  &.is-primary {
    @include generateColor($theme-primary);
  }
  /*&.is-secondary {
    @include generateColor($theme-secondary);
  }*/

  // Outline styles
  /*&.is-outlined {
    background-color: white;
  }
  &.is-default:not(.is-default),
  &.is-primary:not(.is-outlined),
  &.is-primary-light:not(.is-outlined),
  &.is-secondary:not(.is-outlined) {
    border-color: transparent;
  }*/

  // Rounded styles
  &.is-rounded {
    border-radius: 100px;
  }

  // Icon styles
  &.is-icon {
    border-radius: 100px;
  }

  // Disabled styles
  &.is-disabled,
  &[disabled] {
    // opacity: 0.5;
    color: white;
    background-color: $color-grey-light;
    border-color: $color-grey-light;
    cursor: not-allowed;
  }

  // Pseudo state styles
  &:hover:not(.disabled):not([disabled]) {
    filter: brightness(1.2);
  }
  &:active,
  &:focus {
    outline: none;
  }
}
