@import "../vars";

// Text inputs
.input {
  height: $interactable-height;
  padding: 4px 8px;
  border: 1px solid $color-grey-light;
  border-radius: $border-radius;
  box-sizing: border-box;
  transition: box-shadow 0.1s ease-in-out;

  &:focus {
    outline: none;
    box-shadow: 0 0 1px 2px transparentize($theme-primary, 0.5);
  }

  &[disabled] {
    background-color: darken($color-light, 5%);
  }
}