<template>
  <div class="canvas">
    <div ref="canvas" class="canvas__content card elevation-4" />
    <CanvasActions
      v-if="active"
      @clear="drawClear"
      @select-color="changeColor"
      @select-weight="changeWeight"
    />
  </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from "vue-property-decorator";
import p5 from "p5";

// Components
import CanvasActions from "./CanvasActions.vue";

// Utilities
import { colors, weights } from "./utils";

@Component({
  components: {
    CanvasActions,
  },
})
export default class Canvas extends Vue {
  /** Whether player is currently active (and can draw) */
  @Prop({ default: false })
  active!: boolean;

  canvas!: p5;
  color = colors[1][0];
  weight = weights[0];

  mounted(): void {
    this.createCanvas();
  }

  createCanvas(): void {
    const canvasSetup = (s: p5) => {
      s.setup = () => {
        s.createCanvas(800, 600);
        s.background("white");
      };

      // s.draw = () => {};
      s.mouseDragged = this.drawDrag;
    };

    this.canvas = new p5(canvasSetup, this.$refs.canvas as HTMLElement);
  }

  drawDrag(): void {
    if (!this.active) return;

    const { canvas, color, weight } = this;
    const { mouseX, mouseY, pmouseX, pmouseY } = canvas;

    canvas.stroke(color);
    canvas.strokeWeight(weight);
    canvas.line(mouseX, mouseY, pmouseX, pmouseY);
  }

  drawClear(): void {
    if (!this.active) return;

    const { canvas } = this;

    canvas.clear();
    canvas.background("white");
  }

  changeColor(color: string): void {
    if (!this.active) return;

    this.color = color;
  }

  changeWeight(weight: number): void {
    if (!this.active) return;

    this.weight = weight;
  }
}
</script>

<style lang="scss" scoped>
.canvas {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.canvas__content {
  display: flex;
  overflow: hidden;
}
</style>
