<template>
  <div class="actions">
    <div class="actions__colors actions__card card">
      <div class="actions__colors__current" :style="{ '--color': color }" />
      <div class="actions__colors__options">
        <div
          v-for="(row, idx) in colorOptions"
          :key="idx"
          class="actions__colors__row"
        >
          <div
            v-for="option in row"
            :key="option"
            :class="{ 'is-selected': color === option }"
            :style="{ '--color': `${option}` }"
            class="actions__colors__item"
            @click="selectColor(option)"
          />
        </div>
      </div>
    </div>
    <div class="actions__weights actions__card">
      <div
        v-for="option in weightOptions"
        :key="option"
        :class="{ 'is-selected': weight === option }"
        class="actions__weights__item"
        @click="selectWeight(option)"
      >
        <div :style="{ '--size': `${option}px` }" />
      </div>
    </div>
    <button class="actions__clear button" @click="clear">
      <SvgIcon :path="icons.mdiDelete" color="white" type="mdi" />
    </button>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import { mdiTrashCan } from "@mdi/js";

// Utilities
import { colors, weights } from "./utils";

@Component({})
export default class CanvasActions extends Vue {
  // Draw properties
  color: string = colors[1][0];
  colorOptions: string[][] = colors;
  weight: number = weights[0];
  weightOptions: number[] = weights;

  icons = { mdiDelete: mdiTrashCan };

  /**
   * Select a color
   * @param color Selected color
   * @returns Selected color
   */
  selectColor(color: string): void {
    this.color = color;
    this.$emit("select-color", color);
  }

  /**
   * Select a weight
   * @param weight Selected weight
   * @returns Selected weight
   */
  selectWeight(weight: number): void {
    this.weight = weight;
    this.$emit("select-weight", weight);
  }

  /**
   * Clear the canvas
   */
  clear(): void {
    this.$emit("clear");
  }
}
</script>

<style lang="scss" scoped>
.actions {
  --primary: #321166;
  --primary-light: #ded6eb;
  --height: 40px;

  position: absolute;
  bottom: -16px;
  transform: translateY(100%);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 16px;

  > :not(:last-child) {
    margin-right: 16px;
  }
}

.actions__card {
  border-radius: 8px;
  overflow: hidden;
}

.actions__colors {
  display: flex;
}

.actions__colors__current {
  --offset: 4px;
  width: calc(var(--height) - var(--offset) * 2);
  height: calc(var(--height) - var(--offset) * 2);
  margin: calc(var(--offset));
  background-color: var(--color);
  border-radius: 4px;

  box-shadow: inset 0 2px 4px -1px rgba(0, 0, 0, 0.2),
    inset 0 4px 5px 0 rgba(0, 0, 0, 0.14),
    inset 0 1px 10px 0 rgba(0, 0, 0, 0.12) !important;
}

.actions__colors__options {
  display: flex;
  flex-direction: column;
  border-left: 2px solid var(--primary);
}

.actions__colors__row {
  display: flex;
}

.actions__colors__item {
  display: flex;
  width: calc(var(--height) / 2);
  height: calc(var(--height) / 2);
  background-color: var(--color);
  cursor: pointer;
}

.actions__weights {
  display: flex;
}

.actions__weights__item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--height);
  height: var(--height);
  background-color: white;
  cursor: pointer;
  transition: background-color 0.1s ease-in-out;

  &:not(:last-child) {
    border-right: 1px solid lightgrey;
  }

  &.is-selected {
    background-color: var(--primary-light);

    div {
      background-color: var(--primary);
    }
  }

  &:hover {
    &:not(.is-selected) {
      background-color: #dedede;
    }
  }

  div {
    width: var(--size);
    height: var(--size);
    background-color: grey;
    border-radius: calc(var(--size) / 2);
  }
}

.actions__clear {
  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--height);
  height: var(--height);
  padding: 0;
  background-color: transparent;
  border-radius: 8px;

  &:hover {
    background-color: #dedede33;
  }
  &:focus {
    box-shadow: none;
  }
}
</style>
