<template>
  <SvgIconBase :path="path" type="mdi" v-bind="$attrs" />
</template>

<script lang="ts">
import { Component, Prop, Vue } from "vue-property-decorator";
import SvgIconBase from "@jamescoyle/vue-icon";

@Component({
  components: {
    SvgIconBase,
  },
})
export default class SvgIcon extends Vue {
  /** SVG path */
  @Prop({ required: true })
  path!: string;
}
</script>
