<template>
  <div class="game">
    <GameBar :player="player" />
    <div class="game__content">
      <GamePlayers
        :activePlayer="activePlayer"
        :player="player"
        :players="players"
      />
      <Canvas :active="activePlayer.name === player.name" />
      <GameChat />
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from "vue-property-decorator";

// Components
import { Canvas } from "./Canvas";
import GameBar from "./GameBar.vue";
import GameChat from "./GameChat.vue";
import GamePlayers from "./GamePlayers.vue";

// Types
import { GamePlayer } from "@typings";

@Component({
  components: {
    Canvas,
    GameBar,
    GameChat,
    GamePlayers,
  },
})
export default class Game extends Vue {
  /** User player */
  @Prop({ required: true })
  player!: GamePlayer;

  activePlayer!: GamePlayer;
  players: GamePlayer[] = [];

  created(): void {
    // DEBUG
    const fakePlayer: GamePlayer = {
      active: false,
      name: "Fake Player",
      rank: 2,
      points: 0,
    };

    this.players = [this.player, fakePlayer];
    this.activePlayer = this.player;
  }
}
</script>

<style lang="scss" scoped>
.game__content {
  display: flex;
  flex-direction: row;
  align-items: stretch;

  > :not(:first-child) {
    margin-left: 16px;
  }
}
</style>
