<template>
  <div class="players">
    <div class="players__list card elevation-4">
      <div
        v-for="player in players"
        :key="player.rank"
        :class="{ 'is-self': userPlayer.name === player.name }"
        class="player"
      >
        <div class="player__number">#{{ player.rank }}</div>
        <div class="player__content">
          <div
            :class="{ 'is-self': userPlayer.name === player.name }"
            class="player__name"
          >
            {{ player.name }}
          </div>
          <div class="player__points">Points: {{ player.points }}</div>
        </div>
        <div v-if="activePlayer.name === player.name" class="player__active">
          <SvgIcon :path="icons.mdiPencil" />
        </div>
      </div>
    </div>
    <button class="players__kick button" @click="voteKickPlayer">
      Vote Kick Player
    </button>
  </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from "vue-property-decorator";
import { mdiPencil } from "@mdi/js";

// Types
import { GamePlayer } from "@typings";

@Component({})
export default class PlayerList extends Vue {
  /** Active player */
  @Prop({ required: true })
  activePlayer!: GamePlayer;

  /** User player */
  @Prop({ required: true })
  player!: GamePlayer;

  /** Game players */
  @Prop({ required: true })
  players!: GamePlayer[];

  icons = { mdiPencil };

  get userPlayer(): GamePlayer {
    return this.player;
  }

  /**
   * Vote to kick the current player
   */
  voteKickPlayer(): void {
    console.log("Voted to kick current player");
  }
}
</script>

<style lang="scss" scoped>
.players {
  display: flex;
  flex-direction: column;
  width: 200px;
}

.players__list {
  margin-bottom: auto;
  overflow: hidden;
  user-select: none;

  > :nth-child(2n + 1) {
    background-color: #efefef;
  }
}

.player {
  display: flex;
  align-items: center;
  padding: 8px 12px;

  &.is-self {
    padding-left: 6px;
    border-left: 6px solid lighten($theme-primary, 30%);
  }
}

.player__number {
  margin-right: 16px;
  font-size: 1.1rem;
  font-weight: bold;
}

.player__content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.player__name {
  margin-bottom: 2px;
  color: $color-grey;
  font-weight: bold;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;

  &.is-self {
    color: $theme-primary-light;
  }
}

.player__points {
  color: $color-grey;
}

.player__active {
  margin-left: auto;
  color: $theme-primary-light;
}

.players__kick {
  margin-top: 16px;
  background-color: lighten($theme-primary, 20%);
  opacity: 0.75;
  transition: opacity 0.1s ease-in-out;
}
</style>
