<template>
  <div class="game-bar card elevation-4">
    <div class="game-bar__timer">
      <SvgIcon :path="icons.mdiAlarm" :size="32" />
      <div class="game-bar__timer__text">23</div>
    </div>
    <div class="game-bar__word">boat</div>
    <div class="game-bar__rounds">Round 3 of 3</div>
  </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from "vue-property-decorator";
import { mdiAlarm } from "@mdi/js";

// Types
import { GamePlayer } from "@typings";

@Component({})
export default class GameBar extends Vue {
  /** User player */
  @Prop({ required: true })
  player!: GamePlayer;

  icons = { mdiAlarm };
}
</script>

<style lang="scss" scoped>
.game-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 16px;
  padding: 8px 16px;
}

.game-bar__timer {
  display: flex;
  align-items: center;
}

.game-bar__timer__text {
  margin-left: 8px;
  font-size: 1.5rem;
  font-weight: bold;
  color: $theme-primary;
}

.game-bar__word {
  color: $theme-primary-dark;
  font-size: 1.5rem;
  font-weight: 600;
}

.game-bar__rounds {
  font-size: 1.1rem;
  font-weight: 600;
}
</style>
