<template>
  <div class="chat card elevation-4">
    <div class="chat__list">
      <div
        v-for="message in chat"
        :key="message.text"
        :class="{
          'is-correct': message.action === ChatMessageAction.GUESS_CORRECT,
          'is-player-change':
            message.action === ChatMessageAction.PLAYER_JOINED ||
            message.action === ChatMessageAction.PLAYER_LEFT,
          'is-round-change':
            message.action === ChatMessageAction.ROUND_ENDED ||
            message.action === ChatMessageAction.ROUND_STARTED,
        }"
        class="chat__message"
      >
        <span v-if="message.action === ChatMessageAction.ROUND_ENDED">
          <SvgIcon :path="icons.mdiTimeEnd" :size="16" />
        </span>
        <span v-else-if="message.action === ChatMessageAction.ROUND_STARTED">
          <SvgIcon :path="icons.mdiTimeStart" :size="16" />
        </span>
        <span v-else-if="message.action === ChatMessageAction.PLAYER_JOINED">
          <SvgIcon :path="icons.mdiPersonJoin" :size="16" />
        </span>
        <span v-else-if="message.action === ChatMessageAction.PLAYER_LEFT">
          <SvgIcon :path="icons.mdiPersonLeave" :size="16" />
        </span>
        <span v-else-if="message.action === ChatMessageAction.GUESS_CORRECT">
          <SvgIcon :path="icons.mdiGuessCorrect" :size="16" />
        </span>
        <span v-else-if="message.action === ChatMessageAction.GUESS_INCORRECT">
          <SvgIcon :path="icons.mdiGuessIncorrect" :size="16" />
        </span>
        <strong v-if="message.player">{{ message.player }}:</strong>
        {{ message.text }}
      </div>
    </div>
    <div class="chat__input">
      <input
        v-model="chatInput"
        class="input"
        placeholder="Type your guess here"
        type="text"
        @keyup.enter="submitChat"
      />
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import {
  mdiCheck,
  mdiClose,
  mdiLocationEnter,
  mdiLocationExit,
  mdiTimer,
  mdiTimerOff,
} from "@mdi/js";

// Types
import { ChatMessage, ChatMessageAction } from "@typings";

@Component({})
export default class GameChat extends Vue {
  chat: ChatMessage[] = [];
  chatInput = "";

  icons = {
    mdiGuessIncorrect: mdiClose,
    mdiGuessCorrect: mdiCheck,
    mdiTimeEnd: mdiTimerOff,
    mdiTimeStart: mdiTimer,
    mdiPersonJoin: mdiLocationEnter,
    mdiPersonLeave: mdiLocationExit,
  };

  ChatMessageAction = ChatMessageAction;

  mounted(): void {
    this.chat = [
      // prettier-ignore
      { action: ChatMessageAction.PLAYER_JOINED, text: "Kendall has joined the game", },
      // prettier-ignore
      { action: ChatMessageAction.PLAYER_JOINED, text: "Fake Player has joined the game", },
      // prettier-ignore
      { action: ChatMessageAction.ROUND_STARTED, text: "Kendall is drawing now!", },
      // prettier-ignore
      { player: "Kendall", action: ChatMessageAction.GUESS_INCORRECT, text: "road", },
      // prettier-ignore
      { player: "Fake Player", action: ChatMessageAction.GUESS_INCORRECT, text: "bird", },
      // prettier-ignore
      { action: ChatMessageAction.GUESS_CORRECT, text: "Kendall has guessed the word!", },
      // prettier-ignore
      { action: ChatMessageAction.PLAYER_LEFT, text: "Fake Player has left the game", },
      // prettier-ignore
      { action: ChatMessageAction.ROUND_ENDED, text: "The correct word was 'boat'", },
    ];
  }

  /**
   * Submit the chat text
   * @param event Event object
   */
  submitChat(event: Event): void {
    const text = (event.target as HTMLInputElement).value;
    if (!text) return;

    // TODO

    this.chatInput = "";
  }
}
</script>

<style lang="scss" scoped>
.chat {
  display: flex;
  flex-direction: column;
  width: 300px;
}

.chat__list {
  flex-grow: 1;
  margin-top: 4px;
  overflow-y: scroll;
  user-select: none;

  > :nth-child(2n) {
    background-color: $color-light;
  }
}

.chat__message {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 4px 8px;

  &.is-correct {
    font-weight: bold;
    color: #00cc00;
  }
  &.is-player-change {
    color: #ff7100;
    opacity: 0.6;
  }
  &.is-round-change {
    color: #00b2ff;
  }

  svg {
    margin-right: 4px;
  }

  strong {
    margin-right: 4px;
  }
}

.chat__input {
  flex-shrink: 0;
  margin-top: 16px;
  padding: 8px;

  .input {
    width: 100%;
  }
}
</style>
