<template>
  <div class="register">
    <h2 class="register__title">Scribblus</h2>
    <div class="register__card card elevation-4">
      <img
        :src="require('@assets/icon.png')"
        class="register__logo"
        width="64"
      />
      <input v-model="userInput" class="input" placeholder="User" type="text" />
      <button :disabled="!userInput" class="button mt-sm" @click="register">
        Join
      </button>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";

// Components
import { Game } from "@components/Game";

@Component({
  components: {
    Game,
  },
})
export default class Register extends Vue {
  userInput = "";

  /**
   * Register player
   */
  register(): void {
    if (!this.userInput) return;

    const player = this.userInput;
    this.userInput = "";

    this.$emit("register", player);
  }
}
</script>

<style lang="scss" scoped>
.register {
}

.register__title {
  margin: 0;
  margin-bottom: 32px;
  color: white;
  font-size: 2.25rem;
  font-weight: 500;
}

.register__card {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding: 24px;

  .input {
    text-align: center;
  }

  /*.button {
    margin-top: 16px;
    padding: 8px;
    color: white;
    transition: all 0.15s ease-in-out;

    &:not([disabled]) {
      cursor: pointer;
      background-color: #35126d;

      &:hover {
        opacity: 0.9;
      }
    }
    &[disabled] {
      background-color: grey;
      cursor: not-allowed;
    }
  }*/
}

.register__logo {
  align-self: center;
  margin-bottom: 16px;
}
</style>
