// Layout
$border-radius: 4px;
$border-radius-large: 8px;
$interactable-height: 40px;
$spacing: 8px;

// Breakpoints
$breakpoint-xs: 0; // Small to large handset
$breakpoint-sm: 600; // Small to medium tablet
$breakpoint-md: 960; // Large tablet to laptop
$breakpoint-lg: 1280; // Desktop
$breakpoint-xl: 1920; // 4k and ultra-wide

// Colors
$color-light: #f5f5f5;
$color-dark: #363636;
$color-grey-dark: #4a4a4a;
$color-grey: #737373;
$color-grey-light: #b5b5b5;

$color-purple: #4f1aa1;
$color-purple-dark: #35126d;
$color-purple-light: #7b43cf;

// Theme
$theme-primary: $color-purple;
$theme-primary-dark: $color-purple-dark;
$theme-primary-light: $color-purple-light;
$theme-secondary: black;
$theme-secondary-dark: black;
$theme-secondary-light: black;
$theme-accent: black;
